.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* add gap between cards */
}

/* Responsive styles */

@media only screen and (max-width: 768px) {
  .notes {
    gap: 5px; /* reduce gap on smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .notes {
    gap: 5px; /* reduce gap on smallest screens */
  }
}
